
  {{!-- <input name='current' value='{{homebox}}' type='hidden' id='menutype'> --}}
    <div id="selection">
        <div id="selection-inner">
            <div id="container">
                <div class="buttons">
                       <div class="btn-group" data-toggle="buttons">
                               <button class="btn btn-primary btn-lg" onclick="location.href='/button1'">Locations</button>  
                           <div class="btn-group" data-toggle="buttons">
                               <button class="btn btn-success btn-lg" onclick="location.href='/button2'">Product Types</button>  
                               <button class="btn btn-info btn-lg" onclick="location.href='/button3'">Personal</button>  


                       </div><!-- end button group -->
                </div>
            </div>
        </div>
    </div>

 
 