<!DOCTYPE html>
<html lang="en">
  <head>
	   <meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
		<title>Personal Inventory Assets</title>
		<link  href="assets/css/reset.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<link href="assets/css/forminv.css" rel="stylesheet"/>
		<link href="assets/css/viewall.css"  rel="stylesheet"/>
		<link  href="assets/css/loginstyles.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
		<script src="https://code.jquery.com/jquery.js"> </script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	</head>
	<body>
		{{{ body }}}
<footer >
            
        </footer>
        <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
