<container>
        <div>
                <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#propertyModal">Select Property</button>
            </div>       -->
          <!-- Beginning of Property Form Inventory -->
        <div id="propertyModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <span class="close" data-dismiss="modal" id="propertyInfo">&times;</span>
                    <div id="propertyinfo">
                        <div class="modaltitle">Create Property Inventory</div>
                    </div>
          
                  <div class="modal-body" id="propertycontainer" > 
                      <form class="form-horizontal">
                          <div class="row">
                            <div class= "col-xs-12 center">
                                <input type="text" placeholder="Label This Property"></input>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label>Address 1</label>
                                  <input type="text" ></input>
                                  <label>City</label>
                                  <input type="text" ></input>
                                  <label>Zip Code</label>
                                  <input type="text"></input>
                              </div>  <!-- end form group -->
                            </div>  <!--end col -->
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address 2</label>
                                <input type="text" ></input>
                                <label>State</label>
                                <input type="text" ></input>
                            </div>  <!--end form group -->
                        </div>  <!-- end col  -->
                      </div>  <!-- end row -->
                      <div class="row bottomline"></div>
                      <div class="row">
                        <legend>Select Property Information</span></legend>
                        <div class="col-sm-4">
                          <!-- <div class="form-group">
                              <input type="text" placeholder="Select Type of Property"></input>
                          </div>  end form group -->
                          <select id="dropdown" class="form-control input-sm">
                            <option>Type of Property</option>
                            <option>Single Family Home</option>
                            <option>Single Family Home</option>
                          </select>
                        </div>  <!--end col -->
                        <div class="col-sm-8">
                          <div class="form-group">
                             <div class="col-sm-4">
                                <select id="dropdown" class="form-control input-sm">
                                    <option>Bedrooms</option>
                                    <option>1</option>
                                    <option>2</option>
                                  </select>
                             </div>
                              <div class="col-sm-4">
                                  <select id="dropdown" class="form-control input-sm">
                                      <option>Bathrooms</option>
                                      <option>1</option>
                                      <option>2</option>
                                    </select>
                              </div>
                          </div>  <!--end form group -->
                        </div>  <!-- end col  -->
                      </div>  <!-- end row -->
                        <div class="row bottomline"></div>
                        <div class="row">
                            <legend>Select Your Space</legend>
                            <div class="col-sm-6">
                              <div class="checkboxes">
                                <label>
                                    <input type="checkbox" value="Living Room">Living Room
                                </label>
                                <label>
                                    <input type="checkbox" value="Family Room">Family Room
                                </label>
                                <label>
                                    <input type="checkbox" value="Kitchen">Kitchen
                                </label>
                                <label>
                                    <input type="checkbox" value="BedRoom">BedRoom
                                </label>
                                <label>
                                    <input type="checkbox" value="Master BedRoom">Master BedRoom
                                </label>
                              </div>  <!-- end checkboxes -->
                            </div>  <!--end col -->
                          <div class="col-sm-6">
                              <div class="checkboxes">
                                  <label>
                                      <input type="checkbox" value="Garage">Garage
                                  </label>
                                  <label>
                                      <input type="checkbox" value="Basement">Basement
                                  </label>
                                  <label>
                                      <input type="checkbox" value="BathRoom">BathRoom
                                  </label>
                                  <label>
                                      <input type="checkbox" value="Bathroom 2">Bathroom 2
                                  </label>
                                  <!-- <label>
                                      <input type="checkbox" value="">Living Room
                                  </label> -->
                                </div>  <!-- end checkboxes -->
                        </div>  <!-- end row -->
                          </div>
                          <div class="row bottomline"></div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default">Cancel</button>
                                  <button type="button" class="btn btn-default">Submit</button>
                          </div>
                          
                          
                        </form>
                            
                       </div>  <!-- end of modal Body -->
                    </div> <!-- end of modal content -->
                </div> <!-- end of modal dialog -->
</container>
</body>
</html>