{{>bkgd}}
<h2>{{title}}</h2>
<div id="container">
      <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel pinfo">
              <div class="panel-heading">
                  <div class="row">
							      <div class="col-xs-6">
								      <a href="#" class="active" id="login-form-link">Login</a>
							      </div>
							    <div class="col-xs-6">
								      <a href="/register" id="register-form-link">Not A Member? Register Now</a>
							    </div>
						    </div>
              </div>     
                  {{#if error}}
                    <div id="login-alert" class="alert alert-danger col-sm-12">
                      {{error}}
                    </div>
                   {{/if}}
                  <div style="padding-top:30px" class="panel-body">
      
                  
                                  
                  <form action = "/login" method = "POST">  
                      
                      <div class="input-group loginpd">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input type ="text" name="username" class="form-control" placeholder="Enter Your UserName"></input>
                      </div> 
                      <div class="input-group loginpd">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                          <input type ="password" name="password" class="form-control" placeholder="Enter Password"></input>
                      </div>                        
                                      
                     
                      <div class="form-group loginpd">
                          <!-- Button -->
                          <div class="col-sm-12 controls">
                              <button type="submit" class="btn btn-primary loginbtn" id="text-enter-button">Submit</button>
                          </div>
                      </div>
                  </form>     
      
          </div>                     