body{
    font-family: 'Karma', serif;
    font-size: 14px;
    /* background-color: @body-bg; */
        margin-top: 20px;
    /* background-image: linear-gradient(90deg, #d0d2d3, #939597); */
    background-color:#AEBFC2 !important;
  }
.h1, h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    padding: 0 20px;
    margin: 0 0 10px 0;
}
h2{
    font-family: 'Roboto', sans-serif;
    text-align:center;
    margin-top:100px;
    margin-bottom:0;
    font-size:36px;
}
  .loginbtn{
    width:100%;
  }
.pinfo {
    border-color: #cccccc;
    margin: 50px 0;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-top:100px;
  }
a {
    color: #f6f6f6;
    text-decoration: none;
}
.pinfo>.panel-heading {
    color: #555;
    background-color: #858f9e;
    border-color: #eeeeee;
}
  .panel-title{
      color: #fff;
      text-transform: uppercase;
  }
  .glypclr{
      background-color: #457bbe;
      border:none;
      color:#fff;
  }
  .loginpd{
    margin-bottom: 25px;
  }
  